@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: #202020;
    background-image: radial-gradient(#797979 2%, #363636 10%, #202020 15%, black 45%);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: 50% 50%;
}

canvas {
    display: block;
    vertical-align: bottom;
    position: fixed;
    z-index: -1;
} 

#particles-js {
    position: relative;

    width: 100%;
    height: 100%;

 
} 

h1 {
    color: #EEEEEE;
}

h2 {
    color: #EEEEEE;
}

p {
    color: #EEEEEE;
}

header {
    width: 100%;
    height: 100px;

    position:absolute;
    top: 0px;
    left: 0px;

    background-color: #000000;

    display:flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 50px;
}

#title {
    width: 100%;
    height: 500px;

    position: absolute;
    top: 100px;
    left: 0px;

    background: linear-gradient(0deg, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title h1 {
    font-size: 6em;
    text-shadow: 0px 5px 15px rgb(0, 0, 0);
}

#title h2 {
    text-shadow: 0px 5px 15px rgb(0, 0, 0);
}

#content {
    width: 100%;

    position: absolute;
    top: 600px;
    left: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section {
    margin: 100px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-header {
    width: 100%;
    height: 250px;

    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);

    text-align: center;
}

.section-body {
    width: 100%;
    background-color: black;

    text-align: center;
}
  
